{% extends '/individual/layout.html' %} 
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Farm List</h1>
    </div>
    <!-- Content Row -->
	<div class='row'>
		<div class="col-xl-12 col-lg-12">
			<div class="btn btn-primary btn-icon-split original_button">
	          <span class="icon text-white-50">
	            <i class="fas fa-flag"></i>
	          </span>
	          <a href='/home/KDS1'><span class="text">KDS1</span></a>
	        </div>
	        <div class="btn btn-danger btn-icon-split outlier_button">
	          <span class="icon text-white-50">
	            <i class="fas fa-flag"></i>
	          </span>
	           <a href='/home/KDS2'><span class="text">KDS2</span></a>
	        </div>
	        <div class="btn btn-warning btn-icon-split all_button">
	          <span class="icon text-black-50">
	            <i class="fas fa-flag"></i>
	          </span>
	          <a href='/home/HS1'><span class="text">HS1</span></a>
	        </div>
	        <div class="btn btn-success btn-icon-split all_button">
	          <span class="icon text-white-50">
	            <i class="fas fa-flag"></i>
	          </span>
	          <a href='/home/HS2'><span class="text">HS2</span></a>
	        </div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %} 
{% endblock %}
